{% extends "base.html" %}

{% block content %}
        <h1>Hello!</h1>

            {% if load %}
            <div><p>File <b>{{ curr_release }}</b> is ready to load! Submit the form below to start process</p><div>

              <form action="{{url_for("load")}}" method="post" novalidate>
                  {{ form.hidden_tag() }}
                  <p>
                      {{ form.release_num.label }}<br>
                      {{ form.release_num(size=32) }}
                  </p>
                  <p>
                      {{ form.release_date.label }}<br>
                      {{ form.release_date(size=32) }}
                  </p>
                  <p>
                      {{ form.file_name.label }}<br>
                      {{ form.file_name(size=32) }}
                  </p>
                  <p>{{ form.submit() }}</p>
              </form>

            {% else %}
            <div><p>File <b>{{ curr_release }}</b> is not in the data folder ensure it is in the appropriate place
            and that it is named {{ curr_release }}</p><div>
            {% endif %}


{% endblock %}
