{% extends "base.html" %}

{% block content %}
<div><h1>Complete!</h1></div>
      <div><p>Load {{curr_release}} has been completed successfully.</p>
        <div class="col-8">
        <table class="table">
          <thead>
            <tr>
                <th>Table</th>
                <th>N Rows</th>
                <th>Type</th>
            </tr>
          </thead>
        {% for table in table_load_info %}
        <tr>
              <td>{{table.table}}</td>
              <td>{{table.nrows}}</td>
              <td>{{table.type}}</td>
        </tr>
        {% endfor %}
        </table>
        </div>

{% endblock %}
